div.alphabeticalList {
  text-align: center;
  div#letters {
    margin: .125em 2em;
  }
  div.list {
    display: inline-block;
    text-align: left;
    div.rlink {
      margin-top: .5em;
      margin-bottom: .5em;
    }
    li {
      list-style: none;
    }
  }
  h3 {
    padding-top: 1.5em;
  }
  a {
    margin-left: .25em;
    margin-right: .25em;
  }
}
