@font-face {
  font-display: fallback;
  font-family: 'Amatic SC';
  font-style: bold;
  font-weight: 700;
  src:
    url('../font/AmaticSC-Bold.woff2') format('woff2'),
    url('../font/AmaticSC-Bold.woff') format('woff');
}
@font-face {
  font-display: fallback;
  font-family: 'Source Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../font/SourceSans3[wght].woff2') format('woff2'),
    url('../font/SourceSans3[wght].woff') format('woff');
}
/*! purgecss start ignore */
[data-theme="light"] {
  --color-bg: white;
  --color-text: black;
  --color-link: green;
  --color-link-visited: darkgreen;
  --color-navbar-bg: lightgray;
  --color-ingredients: darkblue;
  --color-hint: darkred;
  --color-button: #42b983;
  --color-popup-bg: #555;
  --color-popup-text: #fff;
  --image-grayscale: 0%;
  --image-brightness: 100%;
}
[data-theme="dark"] {
  --color-bg: #161616;
  --color-text: #D0D0D0;
  --color-link: rgb(116, 211, 116);
  --color-link-visited: rgb(192, 231, 192);
  --color-navbar-bg: rgb(128, 128, 128);
  --color-ingredients: lightblue;
  --color-hint: mistyrose;
  --color-button: #1d6846;
  --color-popup-bg: #555;
  --color-popup-text: #fff;
  --image-grayscale: 50%;
  --image-brightness: 75%;
}
/*! purgecss end ignore */
 body {
  font-family: "Source Sans", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding-bottom: 5em;
  background-color: var(--color-bg);
  color: var(--color-text);
}

div.mainContainer {
  text-align: center;
}
/* Navbar */
.navigation {
  background-color: var(--color-navbar-bg);
}
a:link {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
.homeButton {
  padding: 0 .5em;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.navigationButton {
  padding: 0 .5em;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
}
.searchInput {
  margin-right: .125em;
  min-width: 5ch;
  max-width: 24ch;
}
.boutton {
  background-color: var(--color-button);
  color: var(--color-text);
  width: 3.5em;
  height: 3.5em;
  position: fixed;
}
#randomRecipeButton {
  z-index: 999;
  bottom: 1.75em;
  right: 1.75em;
}
#downloadButton {
  z-index: 997;
  bottom: 6em;
  right: 1.75em;
}
#shareButton {
  z-index: 998;
  bottom: 1.75em;
  right: 6em;
}
@media (any-pointer: fine) {
  #shareButton {
    visibility: hidden;
  }
}
.actionButtonIcon {
  margin: auto;
  display: block !important;
}

h1 {
  font-family: 'Amatic SC';
  font-size: 3rem;
  margin: 1em;
}
div.intro-text {
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
  max-width: 30em;
  hyphens: auto;
  text-align: justify;
  text-align-last: left;
  p {
    margin: 0.5em 1.5em;
  }
}
h2 {
  padding-top: 1em;
}
.links {
  padding: 0;
  display: inline-block;
  text-align: left;
  list-style-type: disc;
  list-style: none;
}
li {
  padding: .25em;
}

div.categoriesList {
  text-align: center;
  .categoriesLinks {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: left;
  }
}
div.recipeListContainer {
  text-align: center;
  .recipesPerCategory {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: left;
  }
}

/* Recipe */
.image {
  width: 100%;
  max-height: 24em;
  object-fit: cover;
  filter: #{"grayscale(var(--image-grayscale)) brightness(var(--image-brightness))"};
}
h1.recipeTitle {
  margin: .25em;
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}
h3 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  text-align: center;
}
div.recipe {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  #textcontent {
    display: block;
    max-width: 1280px;
    margin: auto;
  }
}
div.row {
  margin: 0;
}
div.ingredientCol {
  color: var(--color-ingredients);
  table {
    border-spacing: 0;
    thead {
      display: none;
    }
    td:nth-child(3) {
      padding-left: 1em;
    }
    td {
      padding-top: .25em;
      padding-left: .125em;
    }
  }
}
table {
  margin-left: auto;
  margin-right: auto;
}
ol {
  text-align: left;
}
.hint {
  display: inline-block;
  text-align: left;
  padding: 0 3em;
  color: var(--color-hint);
}
h2#bemerkung {
  text-align: center;
}
.info {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 90%;
}
.infoDesc {
  display: inline-block;
  margin: 0.25em 0.5em;
}
.portion {
  display: inline;
}
.inlineDiv {
  display: inline;
}
.symbol {
  display: inline-block;
  text-align: center;
}

/* Alphabetical list */
div.alphabeticalList {
  text-align: center;
  div#letters {
    margin: .125em 2em;
  }
  div.list {
    display: inline-block;
    text-align: left;
    div.rlink {
      margin-top: .5em;
      margin-bottom: .5em;
    }
    li {
      list-style: none;
    }
  }
  h3 {
    padding-top: 1.5em;
  }
  a {
    margin-left: .25em;
    margin-right: .25em;
  }
}

/* Search */
#searchResults {
  position: absolute;
}

#notFoundContainer {
  text-align: center;
}

#switch-keep-on-container {
  margin-left: 2em;
  margin-right: 2em;
}

#toTopButton {
  z-index: 99;
  bottom: 1.75em;
  left: 1.75em;
  display: none; /* Hidden by default */
}

#theme-toggle-boutton {
  width: 2.5em;
  height: 2.5em;
  background-color: var(--color-button);
}

#comment-form {
  margin: 1em;
}
#username {
  margin: .5em;
}
.comment-button {
  background-color: var(--color-button);
  color: var(--color-text);
  margin: .5em;
  border-radius: .375em;
}
textarea {
  resize: none;
}
.single-comment {
  margin: auto;
  padding: 1em;
  max-width: 50%;
  text-align: left;
}

/* Popup */
.popup {
  position: relative;
  display: inline-block;
}

.popup .popuptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out, visibility linear 1s;
  width: 10em;
  background-color: var(--color-popup-bg);
  color: var(--color-popup-text);
  text-align: center;
  border-radius: 6px;
  padding: .5em .5em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -5em;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -.5em;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color-popup-bg) transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
