{{ define "head" }}
  {{ partial "head-alphabetical.html" . }}
{{ end }}

{{ define "main" }}
<div class="alphabeticalList">
  <h1>Alphabetisch</h1>
  <!-- 1. Create separate maps for recipes and index entries -->
   {{- $scratch := newScratch -}}
   {{- $recipeMap := "recipeMap" -}}
   {{- $indexMap := "indexMap" -}}
  <!-- 2. Add all recipes -->
  {{- range (where .Site.RegularPages "Type" "recipe") -}}
    {{- $scratch.SetInMap $recipeMap .Title (slice .) -}}
  {{- end -}}
  <!-- 3. Add all index terms -->
  {{- range $taxo, $terms := .Site.Taxonomies.index -}}
    {{- $scratch.SetInMap $indexMap (strings.FirstUpper $taxo) $terms -}}
  {{- end -}}
  <div id="letters">
    {{- $keys := slice "" -}}
    {{- range $k, $v := $scratch.Get $recipeMap -}}
      {{- if not (in $keys $k) -}}
        {{- $keys = $keys | append $k -}}
      {{- end -}}
    {{- end -}}
    {{- range $k, $v := $scratch.Get $indexMap -}}
      {{- if not (in $keys $k) -}}
        {{- $keys = $keys | append $k -}}
      {{- end -}}
    {{- end -}}
    {{- $keys = after 0 $keys -}}
    {{- $keys = sort $keys -}}
    {{- $data := newScratch -}}
    {{- $data.Set "oldletter" "" -}}
    {{- range $keys -}}
      {{ $data.Set "startletter" (upper (substr . 0 1)) }}
      {{- if ne ($data.Get "startletter") ($data.Get "oldletter") -}}
        <a href="#{{ $data.Get "startletter" }}">{{ $data.Get "startletter" }}</a>
        {{ $data.Set "oldletter" ($data.Get "startletter") }}
      {{- end -}}
    {{- end -}}
  </div>
  <div class="list">
  {{- $data := newScratch -}}
  {{- $data.Set "oldletter" "" -}}
  {{- range $keys -}}
    {{- $data.Set "startletter" (substr . 0 1) -}}
    {{ if ne ($data.Get "startletter") ($data.Get "oldletter") }}
      <h3 id="{{ $data.Get "startletter" }}">{{ $data.Get "startletter" }}</h3>
      {{- $data.Set "oldletter" ($data.Get "startletter") -}}
    {{- end -}}
    {{- $recipeValues := index ($scratch.Get $recipeMap) . -}}
    {{- $indexValues := index ($scratch.Get $indexMap) . -}}
    {{- if $recipeValues -}}
      {{- range $recipeValues -}}
        <div class="rlink"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
      {{- end -}}
      {{- if $indexValues -}}
        {{- $related := where $indexValues "Title" "ne" . -}}
        {{- if gt (len $related) 0 -}}
          <ul>
            {{- range sort $related "Title" -}}
              <li><a class="index-entry" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{- end -}}
          </ul>
        {{- end -}}
      {{- end -}}
    {{- else if $indexValues -}}
      {{- if eq (len $indexValues) 1 -}}
        {{- range $indexValues -}}
          <div class="rlink"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{- end -}}
      {{- else -}}
        <div class="rlink">{{ . }}</div>
        <ul>
          {{- range sort $indexValues "Title" -}}
            <li><a class="index-entry" href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{- end -}}
        </ul>
      {{- end -}}
    {{- end -}}
  {{- end -}}
  </div>
  <button class="rounded-circle boutton" onclick="scrollToTop()" id="toTopButton" title="Go to top">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
    </svg>
  </button>
  <script src="/js/scrollbutton.js" defer></script>
</div>
{{ end }}
