{{ define "main" }}
<div class="recipe justify-content-md-center">
  {{ $image := .Resources.GetMatch (printf "%s%s" .Params.bigImageName ".jpg") }}
  {{ with $image }}
  <picture class="order-md-0 p-0">
    {{- $imageHuge := $image.Fill ($.Params.bigImageOrientation | printf "%s %s" "1200x672 webp" | printf "%s") -}}
    {{- $imageTiny := $image.Fill ($.Params.bigImageOrientation | printf "%s %s" "430x242 webp" | printf "%s") -}}
    <source media="(min-width: {{$imageTiny.Width}}px)" width="{{ $imageHuge.Width }}" height="{{ $imageHuge.Height }}" srcset="{{ $imageHuge.RelPermalink }}">
    <source width="{{ $imageTiny.Width }}" height="{{ $imageTiny.Height }}" srcset="{{ $imageTiny.RelPermalink }}">
    <img class="image img-fluid" width="{{ $imageTiny.Width }}" height="{{ $imageTiny.Height }}" src="{{ $imageTiny.RelPermalink }}" alt="Bild von {{.Title}}" />
  </picture>
  {{ end }}
  <div id="textcontent" class="order-md-1">
    <h1 class="recipeTitle">{{ .Title }}</h1>
    <div class="info">
      {{- if isset .Params "preparationtime" }}
      <div class="infoDesc">
        <div class="symbol">&#x23F1;</div>
        <div class="infoDesc">{{ .Params.preparationTime }}</div>
      </div>
      {{- end }}
      {{ if or (isset .Params "bakingtime") (isset .Params "bakingtemperature") }}
      <div class="infoDesc">
        <div class="symbol">&#x1F525;</div>
        <div class="infoDesc">
          {{- if isset .Params "bakingtime" -}}
          <div class="inlineDiv">{{ .Params.bakingTime }}</div>
          {{- end -}}
          {{- if isset .Params "bakingtemperature" -}}
          <div class="inlineDiv">{{ if isset .Params "bakingtime" }}, {{ end }}</div>{{ .Params.bakingTemperature }}°C
          {{- end -}}
        </div>
      </div>
      {{- end }}
      {{- if isset .Params "portionsize" -}}
      <div class="infoDesc">
        <div class="symbol">&#x1F37D;</div>
        <div class="infoDesc">{{ .Params.portionSize }}</div>
      </div>
      {{- end }}
      <div class="infoDesc">
        <div class="symbol">&#x1F4D6;</div>
        <div class="infoDesc">{{ .Params.author }}</div>
      </div>
      <div class="infoDesc" id="rating-star-container" style="display: none;">
        <i id="star-1" class="bi bi-star"></i><i id="star-2" class="bi bi-star"></i><i id="star-3" class="bi bi-star"></i><i id="star-4" class="bi bi-star"></i><i id="star-5" class="bi bi-star"></i> (<span id="number-of-ratings"></span>)
      </div>
    </div>
    <div class="row justify-content-md-center">
    {{ .Content }}
    <div id="comments-div" style="display: none;">
      <h2>Kommentar schreiben</h2>
      <form id="comment-form">
        <input id="username" type="text" accept-charset="ASCII" maxlength="42" placeholder="Dein Name"><br>
        <textarea form="comment-form" id="commentText" maxlength="255" rows="4" cols="42" placeholder="Dein Kommentar"></textarea><br>
        <button class="comment-button" type="button" onclick="putComment()">Kommentar abschicken</button>
      </form>
      <button class="comment-button" onclick="getComments()">Kommentare laden (<span id="commentsNumber"></span>)</button>
      <h3>Kommentare</h3>
      <div id="commentsContainer"></div>
    </div>
    {{ with resources.Get "comment.js" -}}
    {{- with resources.ExecuteAsTemplate "comment.js" $ . -}}
    <script src="{{ .RelPermalink }}" defer></script>
    {{- end -}}
    {{ end }}
    </div>
  </div>
  {{- $pdf := .Resources.GetMatch "*.pdf" }}
  {{ if $pdf -}}
  <button class="rounded-circle boutton" id="downloadButton" aria-label="Download current recipe as PDF" onclick="window.open('{{$pdf.RelPermalink}}');">
    <i class="actionButtonIcon bi-file-earmark-arrow-down"></i>
  </button>
  {{- end -}}
{{- end -}}
