<footer class="footer fixed-bottom">
    <svg aria-hidden="true" style="display:none">
      <symbol id="dice-1" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="1.5"/>
        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
      </symbol>
      <symbol id="dice-2" viewBox="0 0 16 16">
        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </symbol>
      <symbol id="dice-3" viewBox="0 0 16 16">
        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </symbol>
      <symbol id="dice-4" viewBox="0 0 16 16">
        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </symbol>
      <symbol id="dice-5" viewBox="0 0 16 16">
        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m4-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </symbol>
      <symbol id="dice-6" viewBox="0 0 16 16">
        <path d="M13 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zM3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3z"/>
        <path d="M5.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m-8 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
      </symbol>
    </svg>
    <button class="rounded-circle boutton" id="shareButton" aria-label="Share the current page">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
        <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3" />
      </svg>
    </button>
    <button id="theme-toggle-boutton" class="rounded-circle boutton" type="button" data-theme-toggle aria-label="Change color theme">
      <svg id="theme-toggle-icon" class="actionButtonIcon" viewBox="0 0 16 16" aria-hidden="true">
        <use id="theme-toggle-icon-use" href="#theme-lightbulb"></use>
      </svg>
    </button>
    <button id="randomRecipeButton" class="rounded-circle boutton" aria-label="Go to a random recipe">
        <svg class="actionButtonIcon" id="randomRecipeButtonIcon" viewBox="0 0 16 16" aria-hidden="true">
            <use href="#dice-1"></use>
        </svg>
    </button>
    {{ $randomRecipeButtonScript := resources.Get "randomRecipeButtonScript.js" }}
    {{ $randomRecipeButtonScript = $randomRecipeButtonScript | resources.ExecuteAsTemplate "js/randomRecipeButton.js" . }}
    <script src="{{ $randomRecipeButtonScript.Permalink }}" defer></script>
    <script type="text/javascript">
        const shareData = {
            title: "{{ .Title }}",
            text: "Schau dir {{ .Title }} an auf Cooky-Booky.de!",
            url: "{{ .RelPermalink }}"
        };
        document.getElementById("shareButton").addEventListener("click", async () => {
            try {
                await navigator.share(shareData);
            } catch (err) {
                console.log(err);
            }
        });
    </script>
    {{- $fuse := resources.Get "js/fuse.js" }}
    {{ $search := resources.Get "js/search.js" }}
    {{ $fusesearchbar := slice $fuse $search | resources.Concat "js/fuse-searchbar.js" }}
    {{$opts := dict
            "minify" (cond hugo.IsDevelopment false true)
    }}
    {{ $fusesearchbar := $fusesearchbar | js.Build $opts }}
    {{ if hugo.IsDevelopment }}
    <script src="{{ $fusesearchbar.RelPermalink }}" defer></script>
    {{ else }}
        {{ with $fusesearchbar | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
        {{ end }}
    {{ end }}
</footer>
