<footer class="footer fixed-bottom">
    <button class="rounded-circle randomRecipeButton" id="randomRecipeButton" aria-label="Go to a random recipe">
        <i class="actionButtonIcon bi" id="randomRecipeButtonIcon"></i>
    </button>
    {{ partialCached "randomRecipeButtonScript.html" . }}
    <button class="rounded-circle shareButton" id="shareButton" aria-label="Share the current page">
        <i class="actionButtonIcon bi bi-share"></i>
    </button>
    <script type="text/javascript">
        const shareData = {
            title: "{{ .Title }}",
            text: "Schau dir {{ .Title }} an auf Cooky-Booky.de!",
            url: "{{ .RelPermalink }}"
        };
        document.getElementById("shareButton").addEventListener("click", async () => {
            try {
                await navigator.share(shareData);
            } catch (err) {
                console.log(err);
            }
        });
    </script>
    <script type="text/javascript">
        {{ $recipes := shuffle (where .Site.RegularPages "Type" "recipe") }}
        {{ if gt (len $recipes) 0 }}
        let titles = [
        {{- range $recipes -}}
        {{- .Title -}},
        {{- end -}}
        ""];
        let references = [
        {{- range $recipes -}}
        {{- .Permalink -}},
        {{- end -}}
        ""];
        const hoursInADay = 24 * 60 * 60 * 1000; // 86400000
        let daysSinceBeginOfTime = Math.floor(new Date().getTime() / hoursInADay);
        let idx = daysSinceBeginOfTime % (titles.length - 1);
        document.getElementById("rdt").innerHTML = titles[idx];
        document.getElementById("rdt").href = references[idx];
        {{ else }}
        document.getElementById("rdt").innerHTML = "Kein Rezept!";
        document.getElementById("rdt").href = "/";
        {{ end }}
    </script>
    <script src="/js/fuse.js"></script>
    <script src="/js/search.js"></script>
</footer>
