<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:locale" content="{{ .Site.LanguageCode }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />

    {{- if eq .Params.type "recipe" }}<!-- Tags and open graph image for recipes -->
    {{- $title := printf "%s | %s | Rezept | %s" .Title .Params.category .Site.Title }}
    {{ $description := printf "Mit diesem Rezept lernst du wie du %s selber zubereiten kannst. Schaue hier bei %s vorbei und koche das Rezept einfach nach!" .Title .Site.Title -}}
    <title>{{ $title }}</title>
    <meta property="og:title" content="{{ $title }}" />
    <meta name="description" content="{{ $description }}" />
    <meta property="og:description" content="{{ $description }}" />

    {{- if isset .Params "keywords" }}
    <meta name="keywords" content="Rezept, selbst kochen, lecker, {{ delimit .Keywords ", " }}"/>
    {{- end }}

    {{- $imageName := printf "%s%s" .Params.bigImageName ".jpg"}}
    {{- $image := .Resources.GetMatch $imageName }}
    {{ if eq $image nil }}
        <meta property="og:image" content="{{ .Site.BaseURL }}/img/default-og-image.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="256" />
        <meta property="og:image:height" content="256" />
    {{ else }}
        {{- $openGraphImage := $image.Fill (.Params.bigImageOrientation | printf "%s %s" "1200x672 webp" | printf "%s") }}
        <meta property="og:image" content="{{ $openGraphImage.Permalink }}" />
        <meta property="og:image:type" content="{{ $openGraphImage.MediaType }}" />
        <meta property="og:image:width" content="{{ $openGraphImage.Width }}" />
        <meta property="og:image:height" content="{{ $openGraphImage.Height }}" />
    {{ end }}

    {{- else -}}<!-- and the logo and tags on any other page -->

    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    {{- $numberOfRecipesFloor := math.Mul (math.Div (math.Sub (where .Site.RegularPages "Type" "recipe" | len) 1) 10) 10 }}
    {{ $description := printf "Entdecke mehr als %d einfache und köstliche Rezepte bei %s. Finde hier das nächste Rezept zum nachkochen!" $numberOfRecipesFloor .Site.Title -}}
    <meta name="description" content="{{ $description }}" />
    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/default-og-image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    {{ end -}}

    <link rel='shortcut icon' type='image/svg' href='/img/CookyBookyLogoV1_Plate.svg' />
    <link rel='/apple-touch-icon' href='apple-touch-icon.png' />

    {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") -}}
    {{- $style := resources.Get "sass/main.scss" -}}
    {{- if ne hugo.Environment "development" -}}
        {{- $style = $style | toCSS  $options | postCSS | minify | fingerprint | resources.PostProcess -}}
    {{- else -}}
        {{ $style = $style | toCSS  $options -}}
    {{ end }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
    
    {{- $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
    {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify -}}
    <script src="{{$js.RelPermalink}}" defer></script>
    <link rel="sitemap" type="application/xml" title="sitemap" href="/sitemap.xml">

    <!-- PWA thingies -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Cooky Booky" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    {{ with resources.Get "sw-template.js" -}}
    {{- with resources.ExecuteAsTemplate "sw.js" $ . -}}
    <script>if ('serviceWorker' in navigator) {navigator.serviceWorker.register('{{ .RelPermalink }}');};</script>
    {{- end -}}
    {{ end }}
</head>
