{{ $image := "" }}

{{ $imageOrientation := .Params.bigImageOrientation }}
{{ with .Resources.Get (printf "%s.jpg" .Params.bigImageName) }}
  {{ $image = . }}
{{ end }}

{{ if $image }}
  {{ $altText := .Title | printf "Bild von %s" }}
  {{ with $image.Exif }}{{ with .Tags.UserComment }}{{ $altText = . }}{{ end }}{{ end }}
  {{- $imageTiny := $image.Fill ($imageOrientation | printf "%s %s" "430x242 webp" | printf "%s") -}}
    <img class="image img-fluid" width="{{ $imageTiny.Width }}" height="{{ $imageTiny.Height }}" src="{{ $imageTiny.RelPermalink }}" alt="{{$altText}}" fetchpriority="high" />
{{ else }}
    {{ $altText := printf "CookyBooky Logo als Platzhalterbild für %s" .Title }}
    <img class="image img-fluid thema-image-fallback" width="430" height="242" src="/img/CookyBookyLogoV1_Plate.svg" alt="{{ $altText }}" />
{{ end }}
