{{ define "main" }}
<div class="mainContainer">
  <h1 id="welcome">Willkommen bei Cooky Booky!</h1>
  <img id="logo" src="/img/CookyBookyLogoV1_Plate.svg" alt="Logo" width="256" height="256"
       onclick="if(Math.floor(Math.random()*1000) % 2 == 0){this.src='/img/CookyBookyLogoV1_Plate_Gsicht.svg'} else {this.src='/img/CookyBookyLogoV1_QR.svg'}"/>
  <h2>Links</h2>
  <ul class="list-unstyled links">
    <li><a href="/alphabetic"><i class="bi-book"></i> Alphabetisch</a></li>
    <li><a href="/category"><i class="bi-columns-gap"></i> Kategorien</a></li>
    <li><a href="/index.xml"><i class="bi-rss"></i> RSS</a></li>
  </ul>
</div>
{{ end }}
