{{ define "main" }}
<div class="mainContainer">
  <h1 id="welcome">Cooky Booky</h1>
  <div class="intro-text">
    <div>
      <p>Willkommen bei Cooky Booky! Entdecke hier mehr als {{ math.Mul (math.Div (math.Sub (where .Site.RegularPages "Type" "recipe" | len) 1) 10) 10 }} köstliche und einfache Rezepte zum Nachkochen. Dank den Bildern und Schritten ist das ein Kinderspiel!</p>
      <p>Hast du schon eine Idee, was du kochen möchtest? Dann schaue in der alphabetischen Liste, den Kategorien oder in der Suchleiste, um das Gericht zu finden.</p>
      <p>Brauchst du eine Inspiration? Dann koche das Rezept des Tages nach oder entdecke mit dem Button unten rechts zufällige Rezepte. Egal ob Salate, Suppen oder Hauptgerichte - hier wirst du fündig. Auch wie du Getränke zubereitest und Liköre ansetzt zeigen wir dir hier. Viel Spaß beim Kochen!</p>
    </div>
  </div>
  <h2>Rezept des Tages</h2>
  <a id="rdt"></a>
  <h2>Links</h2>
  <ul class="list-unstyled links">
    <li><a href="/alphabetic"><i class="bi bi-book"></i> Alphabetisch</a></li>
    <li><a href="/category"><i class="bi bi-columns-gap"></i> Kategorien</a></li>
    <li><a href="/index.xml"><i class="bi bi-rss"></i> RSS</a></li>
    {{ if isset .Site.Params "emailaddress" }}<li><a href="mailto:{{ .Site.Params.Emailaddress }}"><i class="bi bi-envelope"></i> Mail schreiben</a></li>{{ end }}
  </ul>
  {{ $todos := sort (where (where .Site.RegularPages "Type" "recipe") "Params.bigImageName" "eq" nil) ".Params.id" }}
  {{ if gt (len $todos) 0 }}
  <h2>ToDo</h2>
  <ul class="list-unstyled links">
    {{ range $todos }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
  <script type="text/javascript">
    {{ $recipes := shuffle (where .Site.RegularPages "Type" "recipe") }}
    {{ if gt (len $recipes) 0 }}
    let titles = [
    {{- range $recipes -}}
    {{- .Title -}},
    {{- end -}}
    ""];
    let references = [
    {{- range $recipes -}}
    {{- .RelPermalink -}},
    {{- end -}}
    ""];
    const hoursInADay = 24 * 60 * 60 * 1000; // 86400000
    let daysSinceBeginOfTime = Math.floor(new Date().getTime() / hoursInADay);
    let idx = daysSinceBeginOfTime % (titles.length - 1);
    document.getElementById("rdt").innerHTML = titles[idx];
    document.getElementById("rdt").href = references[idx];
    {{ else }}
    document.getElementById("rdt").innerHTML = "Kein Rezept!";
    document.getElementById("rdt").href = "/";
    {{ end }}

    let frag = window.location.hash.substring(1).toLowerCase() + "/";
    if (references.includes(frag)) {
      window.location.replace(frag);
    } else if (references.includes(frag.replace("n", "m"))) {
      window.location.replace(frag.replace("n", "m"));
    }
  </script>
  <div id="comments-div" style="display: none;">
    <h3>Letzte Kommentare</h3>
    <div id="commentsContainer" style="justify-content: center;max-width: 50em;margin: 0.5em auto;"></div>
  </div>
  {{ with resources.Get "comment.js" -}}
  {{- with resources.ExecuteAsTemplate "comment.js" $ . -}}
  <script src="{{ .RelPermalink }}" defer></script>
  {{- end -}}
  {{ end }}
</div>
{{ end }}
