{{ define "main" }}
<div class="mainContainer">
  <h1 id="welcome">Cooky Booky</h1>
  <div class="intro-text">
    <div>
      <p>Willkommen bei Cooky Booky! Entdecke hier köstliche und einfache Rezepte zum Nachkochen. Mit den Bildern und Schritten ist das ein Kinderspiel!</p>
      <p>Falls du schon eine Idee hast, schaue in der alphabetischen Liste, den Kategorien oder in der Suchleiste nach, ob du das Gericht hier findest.</p>
      <p>Wenn du nach Inspirationen suchst, finde zufällige Rezepte mit dem Button unten rechts.</p>
    </div>
  </div>
  <h2>Links</h2>
  <ul class="list-unstyled links">
    <li><a href="/alphabetic"><i class="bi bi-book"></i> Alphabetisch</a></li>
    <li><a href="/category"><i class="bi bi-columns-gap"></i> Kategorien</a></li>
    <li><a href="/index.xml"><i class="bi bi-rss"></i> RSS</a></li>
  </ul>
</div>
{{ end }}
