{{ define "head" }}
  {{ partial "head-themen.html" . }}
{{ end }}

{{ define "main" }}
<main class="themen-grid-page">
  <h1>{{ .Title }}</h1>
  <div class="themen-grid">
  {{ range sort .Pages "Title" }}
    {{ $recipeCount := 0 }}
    {{ with .Params.recipes }}{{ $recipeCount = len . }}{{ end }}
    {{ $first := "" }}
    {{ with .Params.recipes }}{{ $first = index . 0 }}{{ end }}
    <a class="text-reset text-decoration-none" href="{{ .RelPermalink }}">
      <div class="thema-tile">
        <div class="thema-image-wrapper card-img-top">
        {{ with $.Site.GetPage $first }}
          {{ partial "theme-tile-image.html" . }}
        {{ end }}
          <span class="thema-count">{{ $recipeCount }} Rezept{{ if ne $recipeCount 1 }}e{{ end }}</span>
        </div>
        <div class="card-body">
          <h2 class="h5 card-title mb-0">{{ .Title }}</h2>
        </div>
      </div>
    </a>
  {{ end }}
  </div>
</main>
{{ end }}
